<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Test">
	  <parameter name="Kwurl"  value="https://subscribe.stctv.com/kw-en?"/>
	   <parameter name="SAurl"  value="https://subscribe.stctv.com/sa-en?"/>
	    <parameter name="Bhdurl"  value="https://subscribe.stctv.com/bh-en?"/>

	  <classes>
                       <!-- packagename.Testcase class name  -->
                             <class name ="STCTV.STC.Countrieschecks" />
                             
                     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
